.namePersonChat {
  font-size: 16px;
  color: black;
  flex-grow: 1;
  cursor: pointer;
}
.chat {
  width: 100%;
  height: calc(100% - 133px);
  background: #e5ddd5;
  padding-top: 20px;
  .chatDateContainer {
    height: 32px;
    margin: 12px 0;
    padding-left: 9%;
    padding-right: 9%;
    display: flex;
    justify-content: center;
    .chatDate {
      height: 32px;
      display: flex;
      align-items: center;
      font-size: 12.5px;
      background: #e2f3fb;
      border-radius: 7.5px;
      padding: 5px 12px 6px;
      box-shadow: 0 1px 0.5px rgba(black, 0.13);
    }
  }
}
.sendMessageForm {
  width: 100%;
  height: 67px;
  padding: 5px 10px;
  background: #f0f0f0;
  border-left: 1px solid #dadada;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .leftMessageFormIcons {
    width: 94px;
    height: 52px;
    padding: 5px 10px;
    display: flex;
    align-items: center;
    .smileyContainer {
      display: flex;
      margin-right: 8px;
      cursor: pointer;
    }
    .clipContainer {
      display: flex;
      padding: 8px;
      cursor: pointer;
      &:active {
        background: #d5d5d5;
        border-radius: 50%;
      }
    }
  }
  .typeMessageForm {
    flex: 1 1 auto;
    height: 42px;
    margin: 5px 10px;
    padding: 9px 12px 11px;
    border-radius: 21px;
    background: white;
    .messageFormText {
      height: 20px;
      font-size: 14.2px;
      color: #919191;
      cursor: text;
    }
  }
  .microphoneContainer {
    display: flex;
    padding: 5px 10px;
    cursor: pointer;
  }
}
