<div class="topColorBox">
  <nav class="navbar">
    <div class="container">
      <a class="navbar-brand" href="#">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="39"
          height="39"
          viewBox="0 0 39 39"
        >
          <path
            fill="#00E676"
            d="M10.7 32.8l.6.3c2.5 1.5 5.3 2.2 8.1 2.2 8.8 0 16-7.2 16-16 0-4.2-1.7-8.3-4.7-11.3s-7-4.7-11.3-4.7c-8.8 0-16 7.2-15.9 16.1 0 3 .9 5.9 2.4 8.4l.4.6-1.6 5.9 6-1.5z"
          ></path>
          <path
            fill="#FFF"
            d="M32.4 6.4C29 2.9 24.3 1 19.5 1 9.3 1 1.1 9.3 1.2 19.4c0 3.2.9 6.3 2.4 9.1L1 38l9.7-2.5c2.7 1.5 5.7 2.2 8.7 2.2 10.1 0 18.3-8.3 18.3-18.4 0-4.9-1.9-9.5-5.3-12.9zM19.5 34.6c-2.7 0-5.4-.7-7.7-2.1l-.6-.3-5.8 1.5L6.9 28l-.4-.6c-4.4-7.1-2.3-16.5 4.9-20.9s16.5-2.3 20.9 4.9 2.3 16.5-4.9 20.9c-2.3 1.5-5.1 2.3-7.9 2.3zm8.8-11.1l-1.1-.5s-1.6-.7-2.6-1.2c-.1 0-.2-.1-.3-.1-.3 0-.5.1-.7.2 0 0-.1.1-1.5 1.7-.1.2-.3.3-.5.3h-.1c-.1 0-.3-.1-.4-.2l-.5-.2c-1.1-.5-2.1-1.1-2.9-1.9-.2-.2-.5-.4-.7-.6-.7-.7-1.4-1.5-1.9-2.4l-.1-.2c-.1-.1-.1-.2-.2-.4 0-.2 0-.4.1-.5 0 0 .4-.5.7-.8.2-.2.3-.5.5-.7.2-.3.3-.7.2-1-.1-.5-1.3-3.2-1.6-3.8-.2-.3-.4-.4-.7-.5h-1.1c-.2 0-.4.1-.6.1l-.1.1c-.2.1-.4.3-.6.4-.2.2-.3.4-.5.6-.7.9-1.1 2-1.1 3.1 0 .8.2 1.6.5 2.3l.1.3c.9 1.9 2.1 3.6 3.7 5.1l.4.4c.3.3.6.5.8.8 2.1 1.8 4.5 3.1 7.2 3.8.3.1.7.1 1 .2h1c.5 0 1.1-.2 1.5-.4.3-.2.5-.2.7-.4l.2-.2c.2-.2.4-.3.6-.5s.4-.4.5-.6c.2-.4.3-.9.4-1.4v-.7s-.1-.1-.3-.2z"
          ></path>
        </svg>

        <span class="text-white"> Suanfanzapp </span>
      </a>
    </div>
  </nav>
  <br /><br /><br />
  <div class="d-flex justify-content-center">
    <div class="card" style="width: 50%">
      <div class="card-body">
        <form [formGroup]="registerForm">
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="name">Name</label>
              <input
                type="text"
                class="form-control"
                id="name"
                aria-describedby="emailHelp"
                formControlName="name"
              />
              <small
                *ngIf="
                  !registerForm.controls.name.valid &&
                  registerForm.controls.name.touched
                "
                class="form-text text-danger"
              >
                Check this field.
              </small>
            </div>
            <div class="form-group col-md-6">
              <label for="lastname">Lastname</label>
              <input
                type="text"
                class="form-control"
                id="lastname"
                formControlName="lastname"
              />
              <small
                *ngIf="
                  !registerForm.controls.lastname.valid &&
                  registerForm.controls.lastname.touched
                "
                class="form-text text-danger"
              >
                Check this field.
              </small>
            </div>
          </div>
          <div class="form-group">
            <label for="email">Email</label>
            <input
              type="email"
              class="form-control"
              id="email"
              aria-describedby="emailHelp"
              formControlName="email"
            />
            <small
              *ngIf="
                !registerForm.controls.email.valid &&
                registerForm.controls.email.touched
              "
              class="form-text text-danger"
            >
              Check this field.
            </small>
          </div>
          <div class="form-group">
            <label for="urlimgprofile">URL Image Profile</label>
            <input
              type="text"
              class="form-control"
              id="urlimgprofile"
              aria-describedby="emailHelp"
              formControlName="url_img_profile"
            />
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="password">Password</label>
              <input
                type="password"
                class="form-control"
                id="password"
                formControlName="password"
              />
              <small
                *ngIf="
                  !registerForm.controls.password.valid &&
                  registerForm.controls.password.touched
                "
                class="form-text text-danger"
              >
                Check this field.
              </small>
            </div>
            <div class="form-group col-md-6">
              <label for="confirmPassword">Confirm Password</label>
              <input
                type="password"
                class="form-control"
                id="confirmPassword"
                formControlName="confirmPassword"
              />
              <small
                *ngIf="
                  !registerForm.controls.confirmPassword.valid &&
                  registerForm.controls.confirmPassword.touched
                "
                class="form-text text-danger"
              >
                Check this field.
              </small>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-4">
              <label for="miSelect">Choose your country: </label>
              <select
                name="miselect"
                id="miSelect"
                class="form-control"
                formControlName="id_number_format"
                [(ngModel)]="selectedCode"
              >
                <option
                  [value]="codePhone.dial_code"
                  *ngFor="let codePhone of codesPhone"
                >
                  {{ codePhone.name }}
                </option>
              </select>
            </div>
            <div class="form-group col-md">
              <label for="confirmPassword">Phone</label>
              <input
                type="number"
                class="form-control"
                id="number"
                formControlName="number"
              />
              <small
                *ngIf="
                  !registerForm.controls.number.valid &&
                  registerForm.controls.number.touched
                "
                class="form-text text-danger"
              >
                Check this field.
              </small>
            </div>
          </div>
          <button
            type="submit"
            class="btn btn-primary"
            (click)="doRegister($event)"
          >
            Register
          </button>
          <a class="btn btn-info float-right" [routerLink]="['/login']"
            >Back to Login</a
          >
        </form>
      </div>
    </div>
  </div>
</div>
<div class="bottomColorBox"></div>
